%p#notice= notice
%h1 Orders
%br
-# %h4 Two Line Chart with Different Colors
-# = content_tag :div, "", id: "line-chart", data: {orders: @orders}, :style => "width: 700px; height: 250px;"
-# -# #line-chart{:style => "width: 700px; height: 250px;"}
%h4 Single Line Chart with Different Colors
#chart{:style => "width: 700px; height: 550px;"}
-# = content_tag :div, "", id: "chart", data: {orders: @orders}, :style => "width: 700px; height: 250px;"
%br
= link_to 'New Order', new_order_path
%br
%br
%table{:border => "1"}
  %thead
    %tr
      %th Number
      %th Date
      %th Price
      %th{:colspan => "3"} Actions
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.number
        %td= order.date
        %td= order.price
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
:javascript
  $(document).ready(function() {
      // Single Line Chart
      var array = [];
      for(var i = 0; i < gon.orders.length; i++) {
          array.push({y: ""+gon.orders[i].date, a: gon.orders[i].price});
        }
      Morris.Line({
          element: 'chart',
          data: array,
          xkey: 'y',
          ykeys: ['a'],
          labels: ['Price'],
          lineColors: ['#0b62a4'],
          pointFillColors: ['#00ff00']
      });
  });
